@charset "utf-8";
body {
background-color: #000000;
margin: 0;
padding: 0;
color: #FFFFFF;
font-family: Verdana, Geneva, sans-serif;
text-align: center;
text-decoration: none;
font-size: 16px;
font-weight: normal;
}
a:link,
a:visited{
color: #FFFFFF;
}
a:hover,
a:active{
color: #FFFFFF;
}
.container {
width: 615px;
margin: 0 auto;
}
.content {
/*width: 615px;*/
float: left;
text-align: left;
}
.footer {
font-size: 12px;
}
hr { 
background: #FFFFFF;
height: 3px;
top: 20px;
margin-bottom: 20px;
position: relative;
border: none;
}
.unselectable {
	outline: none;
}
img {
display: block;
}